.venv
.env
*.docx
*.pdf
fastapi/llm_output.txt
fastapi/images_english.json
fastapi/converted_document.md
fastapi/images
__pycache__
.terraform
.terraform.lock.hcl
fastapi/schema_generation_files
fastapi/markdown_common_schema.md
pgdata
minio-data
temp_file.*
.DS_Store
.sesskey